.plasmic_tokens {
  --token-ohv-5tM1jivE: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-ohv-5tM1jivE);
  --token-FK12jupoop4c: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-FK12jupoop4c);
  --token-e8lvaDWv48Jb: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-e8lvaDWv48Jb);
  --token-XQxO0jcP1hq5: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-XQxO0jcP1hq5);
  --token-cUIVCDihKoLt: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-cUIVCDihKoLt);
  --token-JT0V3YKy3wBe: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-JT0V3YKy3wBe);
  --token-MXItjRvrS8R_: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-MXItjRvrS8R_);
  --token-VeJDZ_ad4Ct6: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-VeJDZ_ad4Ct6);
  --token-FmXbDd_U91op: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token-FmXbDd_U91op);
  --token-nM1JhdYv8o1L: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-nM1JhdYv8o1L);
  --token-AiEopD26pnra: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-AiEopD26pnra);
  --token-Yhg4vJ-DMrPP: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-Yhg4vJ-DMrPP);
  --token-IDsxrNsNHOuR: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-IDsxrNsNHOuR);
  --token-oUcbr0Ls9WwM: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-oUcbr0Ls9WwM);
  --token-RSzLREAayIDT: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-RSzLREAayIDT);
  --token-L1NLq4wg_4Sx: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-L1NLq4wg_4Sx);
  --token-WALFBtjuFq01: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-WALFBtjuFq01);
  --token-pIlVovGf84Iq: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-pIlVovGf84Iq);
  --token-_CQYFXXd2XLV: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-_CQYFXXd2XLV);
  --token-oM0cel41jVeh: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-oM0cel41jVeh);
  --token-swKjveLHm4hI: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-swKjveLHm4hI);
  --token-SmL6v5P84LX_: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-SmL6v5P84LX_);
  --token-t14ibFqHYlW4: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token-t14ibFqHYlW4);
  --token-3jeUNne4sgWX: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-3jeUNne4sgWX);
  --token-F9FAdxGvPkeH: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-F9FAdxGvPkeH);
  --token-O-khCKuxNbzN: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-O-khCKuxNbzN);
  --token-V97IPooeHSeL: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-V97IPooeHSeL);
  --token-c7JBLtzjYUKe: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-c7JBLtzjYUKe);
  --token-2CWNE4HNUjJS: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-2CWNE4HNUjJS);
  --token-EL9fvmsqLVEA: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-EL9fvmsqLVEA);
  --token-qGpegK_5rn8B: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-qGpegK_5rn8B);
  --token-hWfBOubWYRhi: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-hWfBOubWYRhi);
  --token-Uu5VAVIJfOCz: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-Uu5VAVIJfOCz);
  --token-gGZCdC_UDG-c: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-gGZCdC_UDG-c);
  --token-tZ4opuXujzIk: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-tZ4opuXujzIk);
  --token-P5LVGtGYveXP: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-P5LVGtGYveXP);
  --token-EweEthsgn_dj: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-EweEthsgn_dj);
  --token-tpqScVJnyNEo: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-tpqScVJnyNEo);
  --token-1xuIxN-HJMkr: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-1xuIxN-HJMkr);
  --token-tGm9ZtUlq0cm: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-tGm9ZtUlq0cm);
  --token-0gAASSeMQMl8: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-0gAASSeMQMl8);
  --token-K9xI3wldSdi-: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-K9xI3wldSdi-);
  --token-sSSAUQPSqeJK: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-sSSAUQPSqeJK);
  --token-MDvFH1QYReIG: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-MDvFH1QYReIG);
  --token-OdO-i_roepXZ: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-OdO-i_roepXZ);
  --token-_xS8xaBIpaZI: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-_xS8xaBIpaZI);
  --token-LQyEJSDNF2Mh: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-LQyEJSDNF2Mh);
  --token-rab-Uw0p0S4f: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-rab-Uw0p0S4f);
  --token-k2DJZqqVjfPi: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-k2DJZqqVjfPi);
  --token-U4MtBXb4xXDS: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-U4MtBXb4xXDS);
  --token-zgqYsfM6zp7S: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-zgqYsfM6zp7S);
  --token-KYt8As3S0a2G: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-KYt8As3S0a2G);
  --token-5GHCcDGxL9k6: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-5GHCcDGxL9k6);
  --token-NyEmNTzJZRfE: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-NyEmNTzJZRfE);
  --token-9jG1mOExn8ro: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-9jG1mOExn8ro);
  --token-kHixjVLxmOPp: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-kHixjVLxmOPp);
  --token-E2YWnv_7vqOW: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-E2YWnv_7vqOW);
  --token-nPP0XgUF_j0r: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-nPP0XgUF_j0r);
  --token-GDEX5ZVX2MIX: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-GDEX5ZVX2MIX);
  --token-zdfCpWvB5X5F: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-zdfCpWvB5X5F);
  --token-DKD2Y2-Qd0UF: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-DKD2Y2-Qd0UF);
  --token-JoutJ_rA7J40: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-JoutJ_rA7J40);
  --token-koi1WDGgRmiB: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-koi1WDGgRmiB);
  --token-fVeSViCMuzkp: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-fVeSViCMuzkp);
  --token-v0zCwGZDImck: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-v0zCwGZDImck);
  --token-fxKUeh1pLzvx: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-fxKUeh1pLzvx);
  --token-Pf0o_KbU9CaN: var(--antd-colorFillContentHover);
  --plasmic-token-system-fill-content-hover: var(--token-Pf0o_KbU9CaN);
  --token-E2UZyQCTD40N: var(--antd-colorFillAlter);
  --plasmic-token-system-fill-alter: var(--token-E2UZyQCTD40N);
  --token-DdDjZh9arIGR: var(--antd-colorFillContent);
  --plasmic-token-system-fill-content: var(--token-DdDjZh9arIGR);
  --token-9OSIpN7Ik9Jz: var(--antd-colorBgContainerDisabled);
  --plasmic-token-system-bg-container-disabled: var(--token-9OSIpN7Ik9Jz);
  --token-BjJQah6f8NAG: var(--antd-colorBgTextHover);
  --plasmic-token-system-bg-text-hover: var(--token-BjJQah6f8NAG);
  --token--GxU_lddQuKh: var(--antd-colorBgTextActive);
  --plasmic-token-system-bg-text-active: var(--token--GxU_lddQuKh);
  --token-sJuT_j_3j_O4: var(--antd-colorBorderBg);
  --plasmic-token-system-border-bg: var(--token-sJuT_j_3j_O4);
  --token-BXj-vNLKQvP7: var(--antd-colorSplit);
  --plasmic-token-system-split: var(--token-BXj-vNLKQvP7);
  --token-UMFkJYojT5ll: var(--antd-colorTextPlaceholder);
  --plasmic-token-system-text-placeholder: var(--token-UMFkJYojT5ll);
  --token-iE24lb05xL3K: var(--antd-colorTextDisabled);
  --plasmic-token-system-text-disabled: var(--token-iE24lb05xL3K);
  --token-fzOxgVBvM10K: var(--antd-colorTextHeading);
  --plasmic-token-system-text-heading: var(--token-fzOxgVBvM10K);
  --token-g2BpsOWdfEuR: var(--antd-colorTextLabel);
  --plasmic-token-system-text-label: var(--token-g2BpsOWdfEuR);
  --token-WiDfCWGErDMe: var(--antd-colorTextDescription);
  --plasmic-token-system-text-description: var(--token-WiDfCWGErDMe);
  --token-HLhDUiGw2fKA: var(--antd-colorTextLightSolid);
  --plasmic-token-system-text-light-solid: var(--token-HLhDUiGw2fKA);
  --token-IvPQCp5zBPlc: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-IvPQCp5zBPlc);
  --token-3jChksVTqmHi: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-3jChksVTqmHi);
  --token-c78dAKyWdtHd: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-c78dAKyWdtHd);
  --token-jWAgGAqi16n6: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-jWAgGAqi16n6);
  --token-JPT6OE7Lt_Sl: var(--antd-colorLinkActive);
  --plasmic-token-system-link-active: var(--token-JPT6OE7Lt_Sl);
  --token-4hg35b6jHWCb: var(--antd-colorLinkHighlight);
  --plasmic-token-system-link-highlight: var(--token-4hg35b6jHWCb);
  --token-u9MyMHqs-RGM: var(--antd-controlOutline);
  --plasmic-token-system-control-outline: var(--token-u9MyMHqs-RGM);
  --token-YV1Z9XosqXiS: var(--antd-controlWarningOutline);
  --plasmic-token-system-control-warning-outline: var(--token-YV1Z9XosqXiS);
  --token-v-BzPkvn8HHj: var(--antd-controlErrorOutline);
  --plasmic-token-system-control-error-outline: var(--token-v-BzPkvn8HHj);
  --token-wM_hw8eY62wz: var(--antd-controlItemBgHover);
  --plasmic-token-system-control-item-bg-hover: var(--token-wM_hw8eY62wz);
  --token-lmPbnuLRhvht: var(--antd-controlItemBgActive);
  --plasmic-token-system-control-item-bg-active: var(--token-lmPbnuLRhvht);
  --token-8--K78BSrQFQ: var(--antd-controlItemBgActiveHover);
  --plasmic-token-system-control-item-bg-active-hover: var(
    --token-8--K78BSrQFQ
  );
  --token-sdApcuGC0Eix: var(--antd-controlItemBgActiveDisabled);
  --plasmic-token-system-control-item-bg-active-disabled: var(
    --token-sdApcuGC0Eix
  );
  --token-2bP5DJPUB7gc: var(--antd-lineWidth);
  --plasmic-token-sys-line-width: var(--token-2bP5DJPUB7gc);
  --token-l2ZvNSbL1R88: var(--antd-borderRadius);
  --plasmic-token-sys-border-radius: var(--token-l2ZvNSbL1R88);
  --token-6KI-A3pToItg: var(--antd-controlHeight);
  --plasmic-token-sys-control-height: var(--token-6KI-A3pToItg);
  --token-cvqE_RPgj9Rz: var(--antd-sizeXXL);
  --plasmic-token-sys-size-xxl: var(--token-cvqE_RPgj9Rz);
  --token-y1qAzSPNd9CY: var(--antd-sizeXL);
  --plasmic-token-sys-size-xl: var(--token-y1qAzSPNd9CY);
  --token-rUSJaczbs--6: var(--antd-sizeLG);
  --plasmic-token-sys-size-lg: var(--token-rUSJaczbs--6);
  --token-_IaDDcvSvvK6: var(--antd-sizeMD);
  --plasmic-token-sys-size-md: var(--token-_IaDDcvSvvK6);
  --token-hzp7q1zZUpJC: var(--antd-sizeMS);
  --plasmic-token-sys-size-ms: var(--token-hzp7q1zZUpJC);
  --token-SEJOsG91j9WN: var(--antd-size);
  --plasmic-token-sys-size: var(--token-SEJOsG91j9WN);
  --token-MGJUDEILzdDF: var(--antd-sizeSM);
  --plasmic-token-sys-size-sm: var(--token-MGJUDEILzdDF);
  --token-qxNJGZSO0q7G: var(--antd-sizeXS);
  --plasmic-token-sys-size-xs: var(--token-qxNJGZSO0q7G);
  --token-Zk7aZ7B0dBL8: var(--antd-sizeXXS);
  --plasmic-token-sys-size-xxs: var(--token-Zk7aZ7B0dBL8);
  --token-Tib9tPQDWPCj: var(--antd-controlHeightXS);
  --plasmic-token-sys-control-height-xs: var(--token-Tib9tPQDWPCj);
  --token-bULOcXxY7sxd: var(--antd-controlHeightSM);
  --plasmic-token-sys-control-height-sm: var(--token-bULOcXxY7sxd);
  --token-WQEVVD1zzSRg: var(--antd-controlHeightLG);
  --plasmic-token-sys-control-height-lg: var(--token-WQEVVD1zzSRg);
  --token-tGCFxaWGo_ad: var(--antd-lineWidthBold);
  --plasmic-token-sys-line-width-bold: var(--token-tGCFxaWGo_ad);
  --token-xmsZhc4PBIVj: var(--antd-borderRadiusXS);
  --plasmic-token-sys-border-radius-xs: var(--token-xmsZhc4PBIVj);
  --token-8SMKgB6tjo5i: var(--antd-borderRadiusSM);
  --plasmic-token-sys-border-radius-sm: var(--token-8SMKgB6tjo5i);
  --token-dwgtM95IhdLQ: var(--antd-borderRadiusLG);
  --plasmic-token-sys-border-radius-lg: var(--token-dwgtM95IhdLQ);
  --token-4TomwxHtQT3C: var(--antd-borderRadiusOuter);
  --plasmic-token-sys-border-radius-outer: var(--token-4TomwxHtQT3C);
  --token-CBgDuj9-nAHw: var(--antd-controlOutlineWidth);
  --plasmic-token-sys-control-outline-width: var(--token-CBgDuj9-nAHw);
  --token-ZQo0PKCmZcN5: var(--antd-controlInteractiveSize);
  --plasmic-token-sys-control-interactive-size: var(--token-ZQo0PKCmZcN5);
  --token-nicLZz6TvyV3: var(--antd-paddingXXS);
  --plasmic-token-sys-padding-xxs: var(--token-nicLZz6TvyV3);
  --token-5V31lJkhZ8Dp: var(--antd-paddingXS);
  --plasmic-token-sys-padding-xs: var(--token-5V31lJkhZ8Dp);
  --token-mxkGfjJodB_g: var(--antd-paddingSM);
  --plasmic-token-sys-padding-sm: var(--token-mxkGfjJodB_g);
  --token-ZkWNo6cgN9rn: var(--antd-padding);
  --plasmic-token-sys-padding: var(--token-ZkWNo6cgN9rn);
  --token-PPSgNJr77YVP: var(--antd-paddingMD);
  --plasmic-token-sys-padding-md: var(--token-PPSgNJr77YVP);
  --token-ZTlnL0b2XLlJ: var(--antd-paddingLG);
  --plasmic-token-sys-padding-lg: var(--token-ZTlnL0b2XLlJ);
  --token-5TysdL1j0GC1: var(--antd-paddingXL);
  --plasmic-token-sys-padding-xl: var(--token-5TysdL1j0GC1);
  --token-Tz3zMymQSZTz: var(--antd-paddingContentHorizontalLG);
  --plasmic-token-sys-padding-content-horizontal-lg: var(--token-Tz3zMymQSZTz);
  --token-Ch_38JWsRoFj: var(--antd-paddingContentHorizontal);
  --plasmic-token-sys-padding-content-horizontal: var(--token-Ch_38JWsRoFj);
  --token-7CJSdlYeubW7: var(--antd-paddingContentHorizontalSM);
  --plasmic-token-sys-padding-content-horizontal-sm: var(--token-7CJSdlYeubW7);
  --token-8jrcbaGZxofO: var(--antd-paddingContentVerticalLG);
  --plasmic-token-sys-padding-content-vertical-lg: var(--token-8jrcbaGZxofO);
  --token-l0t83Um3NmUY: var(--antd-paddingContentVertical);
  --plasmic-token-sys-padding-content-vertical: var(--token-l0t83Um3NmUY);
  --token-lbso7LMO74MH: var(--antd-paddingContentVerticalSM);
  --plasmic-token-sys-padding-content-vertical-sm: var(--token-lbso7LMO74MH);
  --token-_g_EMKM1Z3_C: var(--antd-marginXXS);
  --plasmic-token-sys-margin-xxs: var(--token-_g_EMKM1Z3_C);
  --token-aDnLgK2m7b8S: var(--antd-marginXS);
  --plasmic-token-sys-margin-xs: var(--token-aDnLgK2m7b8S);
  --token-vgWH3J_0elo8: var(--antd-marginSM);
  --plasmic-token-sys-margin-sm: var(--token-vgWH3J_0elo8);
  --token-JywzwTP50RFV: var(--antd-margin);
  --plasmic-token-sys-margin: var(--token-JywzwTP50RFV);
  --token-VWu_zKtWr7h9: var(--antd-marginMD);
  --plasmic-token-sys-margin-md: var(--token-VWu_zKtWr7h9);
  --token-bmwYqEWtw2Bd: var(--antd-marginLG);
  --plasmic-token-sys-margin-lg: var(--token-bmwYqEWtw2Bd);
  --token-dqPOPzeD8E3Q: var(--antd-marginXL);
  --plasmic-token-sys-margin-xl: var(--token-dqPOPzeD8E3Q);
  --token-lCCjb7LT5A38: var(--antd-marginXXL);
  --plasmic-token-sys-margin-xxl: var(--token-lCCjb7LT5A38);
  --token-zFj5QtL-bnwR: var(--antd-controlPaddingHorizontal);
  --plasmic-token-sys-control-padding-horizontal: var(--token-zFj5QtL-bnwR);
  --token-Y0LHMx8XoiIx: var(--antd-controlPaddingHorizontalSM);
  --plasmic-token-sys-control-padding-horizontal-sm: var(--token-Y0LHMx8XoiIx);
  --token-QtVl3S98qBW2: var(--antd-fontSizeSM);
  --plasmic-token-sys-font-size-sm: var(--token-QtVl3S98qBW2);
  --token-gNzMJdlg99Yj: var(--antd-fontSizeLG);
  --plasmic-token-sys-font-size-lg: var(--token-gNzMJdlg99Yj);
  --token-hxz5VNkORmvc: var(--antd-fontSizeXL);
  --plasmic-token-sys-font-size-xl: var(--token-hxz5VNkORmvc);
  --token-MwX27Iu3h7I7: var(--antd-fontSizeHeading1);
  --plasmic-token-sys-font-size-heading-1: var(--token-MwX27Iu3h7I7);
  --token-Z9ktoFWIBkta: var(--antd-fontSizeHeading2);
  --plasmic-token-sys-font-size-heading-2: var(--token-Z9ktoFWIBkta);
  --token-LBnsqH_wwE3L: var(--antd-fontSizeHeading3);
  --plasmic-token-sys-font-size-heading-3: var(--token-LBnsqH_wwE3L);
  --token-e03VdbOazyfn: var(--antd-fontSizeHeading4);
  --plasmic-token-sys-font-size-heading-4: var(--token-e03VdbOazyfn);
  --token-7hlo45toDPh3: var(--antd-fontSizeHeading5);
  --plasmic-token-sys-font-size-heading-5: var(--token-7hlo45toDPh3);
  --token-bYhAyXvHSp2v: var(--antd-lineHeightLG);
  --plasmic-token-sys-line-height-lg: var(--token-bYhAyXvHSp2v);
  --token-zm2lWgKfYI8r: var(--antd-lineHeightSM);
  --plasmic-token-sys-line-height-sm: var(--token-zm2lWgKfYI8r);
  --token-8Ny8UQQG7Pwz: var(--antd-lineHeightHeading1);
  --plasmic-token-sys-line-height-heading-1: var(--token-8Ny8UQQG7Pwz);
  --token-sBRMWc86PCuo: var(--antd-lineHeightHeading2);
  --plasmic-token-sys-line-height-heading-2: var(--token-sBRMWc86PCuo);
  --token-n6O-DhdPTLyp: var(--antd-lineHeightHeading3);
  --plasmic-token-sys-line-height-heading-3: var(--token-n6O-DhdPTLyp);
  --token-87t9-Oz-zFEM: var(--antd-lineHeightHeading4);
  --plasmic-token-sys-line-height-heading-4: var(--token-87t9-Oz-zFEM);
  --token-QupbjOE37BC1: var(--antd-lineHeightHeading5);
  --plasmic-token-sys-line-height-heading-5: var(--token-QupbjOE37BC1);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
