.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__oolSw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-style: italic;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  max-width: none;
  min-width: 600px;
  min-height: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__c2Mrc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.faceimg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.faceimg > picture > img {
  object-fit: cover;
}
.faceimg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__etJpp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__dh0PL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__dpKDj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tabButton__fMwk9:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__qa4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___0Htk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wzXqH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.tabButton__cLkNe:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text___5MbPb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__sIla7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___2FE3B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: #7777ff;
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rSz3Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.tabContent__vAp3V:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
}
.freeBox__neTPa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.pad {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 300px;
  max-width: 100%;
  background: url("/plasmic/aokiapp_nft/images/gridpng2.png") left 10px top 10px, #eaeaea;
  flex-shrink: 0;
  border-radius: 1em;
  padding: 0px;
}
.tabContent___2BsXc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rnalL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nXcVk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__gNMvG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 397px;
}
.svg__rynbI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___4Jk7K {
  height: auto;
}
.svg__rwLe9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
