.plasmic_tokens {
  --token-_aVAOSuusH4-: var(--antd-colorPrimary);
  --plasmic-token-system-primary: var(--token-_aVAOSuusH4-);
  --token-u-AQQRmqnhlH: var(--antd-colorSuccess);
  --plasmic-token-system-success: var(--token-u-AQQRmqnhlH);
  --token-oLIUBfNb8Z1l: var(--antd-colorWarning);
  --plasmic-token-system-warning: var(--token-oLIUBfNb8Z1l);
  --token-0fnHY1gYVsoU: var(--antd-colorError);
  --plasmic-token-system-error: var(--token-0fnHY1gYVsoU);
  --token-6fb4p4cJQory: var(--antd-colorInfo);
  --plasmic-token-system-info: var(--token-6fb4p4cJQory);
  --token-Wlrsjx_VDKHr: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-Wlrsjx_VDKHr);
  --token-xbiBUJcrr3V8: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-xbiBUJcrr3V8);
  --token-LQT3YkZtgPzC: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-LQT3YkZtgPzC);
  --token--Zp5GkmPr6CI: var(--antd-colorTextQuaternary);
  --plasmic-token-system-text-quaternary: var(--token--Zp5GkmPr6CI);
  --token-6O_sfBz73wz3: var(--antd-colorBorder);
  --plasmic-token-system-border: var(--token-6O_sfBz73wz3);
  --token-h7zTaNgA16Wj: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-h7zTaNgA16Wj);
  --token-4u9Kq42G97yE: var(--antd-colorFill);
  --plasmic-token-system-fill: var(--token-4u9Kq42G97yE);
  --token-Xb6I3IB3w_EK: var(--antd-colorFillSecondary);
  --plasmic-token-system-fill-secondary: var(--token-Xb6I3IB3w_EK);
  --token-qfVuO_2lHE_l: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token-qfVuO_2lHE_l);
  --token-86-U3AOo852w: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-86-U3AOo852w);
  --token-VjrjoT8JqOgm: var(--antd-colorBgLayout);
  --plasmic-token-system-bg-layout: var(--token-VjrjoT8JqOgm);
  --token-mzZ0HnCQV_jk: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-mzZ0HnCQV_jk);
  --token-u4-1U5i2CHHR: var(--antd-colorBgElevated);
  --plasmic-token-system-bg-elevated: var(--token-u4-1U5i2CHHR);
  --token-czY6Bg7GO-pN: var(--antd-colorBgSpotlight);
  --plasmic-token-system-bg-spotlight: var(--token-czY6Bg7GO-pN);
  --token-8ZgFaaDFWFIf: var(--antd-colorPrimaryBg);
  --plasmic-token-system-primary-bg: var(--token-8ZgFaaDFWFIf);
  --token-Y2kY0d10lClC: var(--antd-colorPrimaryBgHover);
  --plasmic-token-system-primary-bg-hover: var(--token-Y2kY0d10lClC);
  --token-ALj4MIg5100C: var(--antd-colorPrimaryBorder);
  --plasmic-token-system-primary-border: var(--token-ALj4MIg5100C);
  --token--TuVbdMEkwNy: var(--antd-colorPrimaryBorderHover);
  --plasmic-token-system-primary-border-hover: var(--token--TuVbdMEkwNy);
  --token-EA35pCnfbEtT: var(--antd-colorPrimaryHover);
  --plasmic-token-system-primary-hover: var(--token-EA35pCnfbEtT);
  --token-Wc8j5Rh0priy: var(--antd-colorPrimaryActive);
  --plasmic-token-system-primary-active: var(--token-Wc8j5Rh0priy);
  --token-getUz7XGWtoA: var(--antd-colorPrimaryTextHover);
  --plasmic-token-system-primary-text-hover: var(--token-getUz7XGWtoA);
  --token-Bri1RwOV-puc: var(--antd-colorPrimaryText);
  --plasmic-token-system-primary-text: var(--token-Bri1RwOV-puc);
  --token-4GbHtcxaOmEe: var(--antd-colorPrimaryTextActive);
  --plasmic-token-system-primary-text-active: var(--token-4GbHtcxaOmEe);
  --token-1vCzWBLarZ8L: var(--antd-colorSuccessBg);
  --plasmic-token-system-success-bg: var(--token-1vCzWBLarZ8L);
  --token-AooeQneAYC0m: var(--antd-colorSuccessBgHover);
  --plasmic-token-system-success-bg-hover: var(--token-AooeQneAYC0m);
  --token-dKuCOqR0rQp8: var(--antd-colorSuccessBorder);
  --plasmic-token-system-success-border: var(--token-dKuCOqR0rQp8);
  --token-j0QrpBi8H6bQ: var(--antd-colorSuccessBorderHover);
  --plasmic-token-system-success-border-hover: var(--token-j0QrpBi8H6bQ);
  --token-opI8FOaZpiO9: var(--antd-colorSuccessHover);
  --plasmic-token-system-success-hover: var(--token-opI8FOaZpiO9);
  --token-xlLNFwYj3K_x: var(--antd-colorSuccessActive);
  --plasmic-token-system-success-active: var(--token-xlLNFwYj3K_x);
  --token-j37fzlWiu5pm: var(--antd-colorSuccessTextHover);
  --plasmic-token-system-success-text-hover: var(--token-j37fzlWiu5pm);
  --token-EqnHRdVuHzfb: var(--antd-colorSuccessText);
  --plasmic-token-system-success-text: var(--token-EqnHRdVuHzfb);
  --token-HS9JvKlotXab: var(--antd-colorSuccessTextActive);
  --plasmic-token-system-success-text-active: var(--token-HS9JvKlotXab);
  --token-lIuZqoeKWSFU: var(--antd-colorWarningBg);
  --plasmic-token-system-warning-bg: var(--token-lIuZqoeKWSFU);
  --token-mtOfXIBusAND: var(--antd-colorWarningBgHover);
  --plasmic-token-system-warning-bg-hover: var(--token-mtOfXIBusAND);
  --token-Ki_sPzn9TpT_: var(--antd-colorWarningBorder);
  --plasmic-token-system-warning-border: var(--token-Ki_sPzn9TpT_);
  --token-x2Ep9rAa-MKs: var(--antd-colorWarningBorderHover);
  --plasmic-token-system-warning-border-hover: var(--token-x2Ep9rAa-MKs);
  --token-kdpCAkfz64zo: var(--antd-colorWarningHover);
  --plasmic-token-system-warning-hover: var(--token-kdpCAkfz64zo);
  --token-o8TadukZIjdT: var(--antd-colorWarningActive);
  --plasmic-token-system-warning-active: var(--token-o8TadukZIjdT);
  --token-f4x_r17US33m: var(--antd-colorWarningTextHover);
  --plasmic-token-system-warning-text-hover: var(--token-f4x_r17US33m);
  --token-1ng6zyOcQPZ-: var(--antd-colorWarningText);
  --plasmic-token-system-warning-text: var(--token-1ng6zyOcQPZ-);
  --token-s9FswcU_Cr-R: var(--antd-colorWarningTextActive);
  --plasmic-token-system-warning-text-active: var(--token-s9FswcU_Cr-R);
  --token-Au_oFWqRVEUZ: var(--antd-colorInfoBg);
  --plasmic-token-system-info-bg: var(--token-Au_oFWqRVEUZ);
  --token-f2dibjK9-v2a: var(--antd-colorInfoBgHover);
  --plasmic-token-system-info-bg-hover: var(--token-f2dibjK9-v2a);
  --token-LKCKg_LPYw7F: var(--antd-colorInfoBorder);
  --plasmic-token-system-info-border: var(--token-LKCKg_LPYw7F);
  --token-S04XtCZi3pZW: var(--antd-colorInfoBorderHover);
  --plasmic-token-system-info-border-hover: var(--token-S04XtCZi3pZW);
  --token-ICmqHyvX-h_Y: var(--antd-colorInfoHover);
  --plasmic-token-system-info-hover: var(--token-ICmqHyvX-h_Y);
  --token-t3GVqPB7mxb6: var(--antd-colorInfoActive);
  --plasmic-token-system-info-active: var(--token-t3GVqPB7mxb6);
  --token-u6EGj767AKTu: var(--antd-colorInfoTextHover);
  --plasmic-token-system-info-text-hover: var(--token-u6EGj767AKTu);
  --token-atenw3GUFg7R: var(--antd-colorInfoText);
  --plasmic-token-system-info-text: var(--token-atenw3GUFg7R);
  --token-DXycEIpqGuBR: var(--antd-colorInfoTextActive);
  --plasmic-token-system-info-text-active: var(--token-DXycEIpqGuBR);
  --token-qpXckFqcMcAS: var(--antd-colorErrorBg);
  --plasmic-token-system-error-bg: var(--token-qpXckFqcMcAS);
  --token-_CDYaLTx9dK3: var(--antd-colorErrorBgHover);
  --plasmic-token-system-error-bg-hover: var(--token-_CDYaLTx9dK3);
  --token-ZH7mNhZ4w7Go: var(--antd-colorErrorBorder);
  --plasmic-token-system-error-border: var(--token-ZH7mNhZ4w7Go);
  --token-qs7JnnQ55eh0: var(--antd-colorErrorBorderHover);
  --plasmic-token-system-error-border-hover: var(--token-qs7JnnQ55eh0);
  --token-MARuxqNGVRE8: var(--antd-colorErrorHover);
  --plasmic-token-system-error-hover: var(--token-MARuxqNGVRE8);
  --token-N4r5qbKUp72v: var(--antd-colorErrorActive);
  --plasmic-token-system-error-active: var(--token-N4r5qbKUp72v);
  --token-8IDAY_zsLssV: var(--antd-colorErrorTextHover);
  --plasmic-token-system-error-text-hover: var(--token-8IDAY_zsLssV);
  --token-87-O7lEVhY6M: var(--antd-colorErrorText);
  --plasmic-token-system-error-text: var(--token-87-O7lEVhY6M);
  --token-RWnZXtUzQpC8: var(--antd-colorErrorTextActive);
  --plasmic-token-system-error-text-active: var(--token-RWnZXtUzQpC8);
  --token-iINVuqQqi9nw: var(--antd-colorWhite);
  --plasmic-token-system-white: var(--token-iINVuqQqi9nw);
  --token-jxUdGuulQocs: var(--antd-colorBgMask);
  --plasmic-token-system-bg-mask: var(--token-jxUdGuulQocs);
  --token-DS_ZvVZGO8IN: var(--antd-colorFillContentHover);
  --plasmic-token-system-fill-content-hover: var(--token-DS_ZvVZGO8IN);
  --token-uVqwzjXO6Z0A: var(--antd-colorFillAlter);
  --plasmic-token-system-fill-alter: var(--token-uVqwzjXO6Z0A);
  --token-TPna6TL29PfF: var(--antd-colorFillContent);
  --plasmic-token-system-fill-content: var(--token-TPna6TL29PfF);
  --token-WJMmusVlT3V7: var(--antd-colorBgContainerDisabled);
  --plasmic-token-system-bg-container-disabled: var(--token-WJMmusVlT3V7);
  --token-wZWS0PvSgGnu: var(--antd-colorBgTextHover);
  --plasmic-token-system-bg-text-hover: var(--token-wZWS0PvSgGnu);
  --token-VIjmkpUxvp3a: var(--antd-colorBgTextActive);
  --plasmic-token-system-bg-text-active: var(--token-VIjmkpUxvp3a);
  --token-SFFVDeQC15w5: var(--antd-colorBorderBg);
  --plasmic-token-system-border-bg: var(--token-SFFVDeQC15w5);
  --token-zDteIS2p6uz7: var(--antd-colorSplit);
  --plasmic-token-system-split: var(--token-zDteIS2p6uz7);
  --token-_KPjZvaMNMpX: var(--antd-colorTextPlaceholder);
  --plasmic-token-system-text-placeholder: var(--token-_KPjZvaMNMpX);
  --token-yKBwB_n46ufT: var(--antd-colorTextDisabled);
  --plasmic-token-system-text-disabled: var(--token-yKBwB_n46ufT);
  --token-bs8iUIhKBp4Q: var(--antd-colorTextHeading);
  --plasmic-token-system-text-heading: var(--token-bs8iUIhKBp4Q);
  --token-8lHDEsjHXGGo: var(--antd-colorTextLabel);
  --plasmic-token-system-text-label: var(--token-8lHDEsjHXGGo);
  --token-Cg_y8Ue4cUtd: var(--antd-colorTextDescription);
  --plasmic-token-system-text-description: var(--token-Cg_y8Ue4cUtd);
  --token-JaESZsUxS6il: var(--antd-colorTextLightSolid);
  --plasmic-token-system-text-light-solid: var(--token-JaESZsUxS6il);
  --token-j_Rz03IEDmpc: var(--antd-colorIcon);
  --plasmic-token-system-icon: var(--token-j_Rz03IEDmpc);
  --token-8sHznzXzgIMc: var(--antd-colorIconHover);
  --plasmic-token-system-icon-hover: var(--token-8sHznzXzgIMc);
  --token-EC5lXMZ-ANy5: var(--antd-colorLink);
  --plasmic-token-system-link: var(--token-EC5lXMZ-ANy5);
  --token-yzFQ6OTXrAIx: var(--antd-colorLinkHover);
  --plasmic-token-system-link-hover: var(--token-yzFQ6OTXrAIx);
  --token-1VEbaQNmO6VT: var(--antd-colorLinkActive);
  --plasmic-token-system-link-active: var(--token-1VEbaQNmO6VT);
  --token-4yi9OXaT4Gxu: var(--antd-colorLinkHighlight);
  --plasmic-token-system-link-highlight: var(--token-4yi9OXaT4Gxu);
  --token-jt3ZyEtiTjIW: var(--antd-controlOutline);
  --plasmic-token-system-control-outline: var(--token-jt3ZyEtiTjIW);
  --token-VmbZkz6kXkIk: var(--antd-controlWarningOutline);
  --plasmic-token-system-control-warning-outline: var(--token-VmbZkz6kXkIk);
  --token-WEHGIla4k4GB: var(--antd-controlErrorOutline);
  --plasmic-token-system-control-error-outline: var(--token-WEHGIla4k4GB);
  --token-mZM8QAeTGwgv: var(--antd-controlItemBgHover);
  --plasmic-token-system-control-item-bg-hover: var(--token-mZM8QAeTGwgv);
  --token-x8yxcPG03iNC: var(--antd-controlItemBgActive);
  --plasmic-token-system-control-item-bg-active: var(--token-x8yxcPG03iNC);
  --token-quMpsEtkHxxO: var(--antd-controlItemBgActiveHover);
  --plasmic-token-system-control-item-bg-active-hover: var(
    --token-quMpsEtkHxxO
  );
  --token-OInRXWzPC0yX: var(--antd-controlItemBgActiveDisabled);
  --plasmic-token-system-control-item-bg-active-disabled: var(
    --token-OInRXWzPC0yX
  );
  --token-GYZonmerVuJt: var(--antd-lineWidth);
  --plasmic-token-sys-line-width: var(--token-GYZonmerVuJt);
  --token-DZJLJ5E7Hj25: var(--antd-borderRadius);
  --plasmic-token-sys-border-radius: var(--token-DZJLJ5E7Hj25);
  --token-mUCemicMF2HR: var(--antd-controlHeight);
  --plasmic-token-sys-control-height: var(--token-mUCemicMF2HR);
  --token-I8YiZtG1-1dP: var(--antd-sizeXXL);
  --plasmic-token-sys-size-xxl: var(--token-I8YiZtG1-1dP);
  --token-3uJ0_SERKwVc: var(--antd-sizeXL);
  --plasmic-token-sys-size-xl: var(--token-3uJ0_SERKwVc);
  --token-jC1gjjc4CG6V: var(--antd-sizeLG);
  --plasmic-token-sys-size-lg: var(--token-jC1gjjc4CG6V);
  --token-Zd0hATKtEdPM: var(--antd-sizeMD);
  --plasmic-token-sys-size-md: var(--token-Zd0hATKtEdPM);
  --token-hE4ynb17EDAX: var(--antd-sizeMS);
  --plasmic-token-sys-size-ms: var(--token-hE4ynb17EDAX);
  --token-dSbBASMKeu17: var(--antd-size);
  --plasmic-token-sys-size: var(--token-dSbBASMKeu17);
  --token-SzVIKe1PMeur: var(--antd-sizeSM);
  --plasmic-token-sys-size-sm: var(--token-SzVIKe1PMeur);
  --token-qqrNqC4hE_6D: var(--antd-sizeXS);
  --plasmic-token-sys-size-xs: var(--token-qqrNqC4hE_6D);
  --token-Gl2CLQYYQHzC: var(--antd-sizeXXS);
  --plasmic-token-sys-size-xxs: var(--token-Gl2CLQYYQHzC);
  --token-64SHpbdEawwf: var(--antd-controlHeightXS);
  --plasmic-token-sys-control-height-xs: var(--token-64SHpbdEawwf);
  --token-ztb6nTZC_yAM: var(--antd-controlHeightSM);
  --plasmic-token-sys-control-height-sm: var(--token-ztb6nTZC_yAM);
  --token-d04xy2iJa5Ej: var(--antd-controlHeightLG);
  --plasmic-token-sys-control-height-lg: var(--token-d04xy2iJa5Ej);
  --token-KmPN6uR8Hk0a: var(--antd-lineWidthBold);
  --plasmic-token-sys-line-width-bold: var(--token-KmPN6uR8Hk0a);
  --token-g2rO9QNFlFs0: var(--antd-borderRadiusXS);
  --plasmic-token-sys-border-radius-xs: var(--token-g2rO9QNFlFs0);
  --token-U-rmp2qj23Bq: var(--antd-borderRadiusSM);
  --plasmic-token-sys-border-radius-sm: var(--token-U-rmp2qj23Bq);
  --token-WqLCb40EuULD: var(--antd-borderRadiusLG);
  --plasmic-token-sys-border-radius-lg: var(--token-WqLCb40EuULD);
  --token-zvrYnmQVMeOy: var(--antd-borderRadiusOuter);
  --plasmic-token-sys-border-radius-outer: var(--token-zvrYnmQVMeOy);
  --token-zkioIuq94s_K: var(--antd-controlOutlineWidth);
  --plasmic-token-sys-control-outline-width: var(--token-zkioIuq94s_K);
  --token-ktrxDENH-8hj: var(--antd-controlInteractiveSize);
  --plasmic-token-sys-control-interactive-size: var(--token-ktrxDENH-8hj);
  --token-62R13XF9Zc0L: var(--antd-paddingXXS);
  --plasmic-token-sys-padding-xxs: var(--token-62R13XF9Zc0L);
  --token-pilUoikT9uR1: var(--antd-paddingXS);
  --plasmic-token-sys-padding-xs: var(--token-pilUoikT9uR1);
  --token-9O1UoNX-Ib5j: var(--antd-paddingSM);
  --plasmic-token-sys-padding-sm: var(--token-9O1UoNX-Ib5j);
  --token-PuBW4rJVBIM9: var(--antd-padding);
  --plasmic-token-sys-padding: var(--token-PuBW4rJVBIM9);
  --token-gRQdU7yNnL3T: var(--antd-paddingMD);
  --plasmic-token-sys-padding-md: var(--token-gRQdU7yNnL3T);
  --token-IC2NZcBB8lRe: var(--antd-paddingLG);
  --plasmic-token-sys-padding-lg: var(--token-IC2NZcBB8lRe);
  --token-u4fgKMKk4vwl: var(--antd-paddingXL);
  --plasmic-token-sys-padding-xl: var(--token-u4fgKMKk4vwl);
  --token-92s6f-TybAW3: var(--antd-paddingContentHorizontalLG);
  --plasmic-token-sys-padding-content-horizontal-lg: var(--token-92s6f-TybAW3);
  --token-eCJxqCHPY-pQ: var(--antd-paddingContentHorizontal);
  --plasmic-token-sys-padding-content-horizontal: var(--token-eCJxqCHPY-pQ);
  --token-DPYZ1zhe2AQV: var(--antd-paddingContentHorizontalSM);
  --plasmic-token-sys-padding-content-horizontal-sm: var(--token-DPYZ1zhe2AQV);
  --token-zV-dOc-q2E9P: var(--antd-paddingContentVerticalLG);
  --plasmic-token-sys-padding-content-vertical-lg: var(--token-zV-dOc-q2E9P);
  --token-U4fjMIfiM79v: var(--antd-paddingContentVertical);
  --plasmic-token-sys-padding-content-vertical: var(--token-U4fjMIfiM79v);
  --token-jxoAOA3Oq6Cq: var(--antd-paddingContentVerticalSM);
  --plasmic-token-sys-padding-content-vertical-sm: var(--token-jxoAOA3Oq6Cq);
  --token-CnAX51YUOtry: var(--antd-marginXXS);
  --plasmic-token-sys-margin-xxs: var(--token-CnAX51YUOtry);
  --token-UwA-BZrhCcz5: var(--antd-marginXS);
  --plasmic-token-sys-margin-xs: var(--token-UwA-BZrhCcz5);
  --token-MeHB8Wkx0La9: var(--antd-marginSM);
  --plasmic-token-sys-margin-sm: var(--token-MeHB8Wkx0La9);
  --token-7p-SBFesvZ3g: var(--antd-margin);
  --plasmic-token-sys-margin: var(--token-7p-SBFesvZ3g);
  --token-afLft-2_NLz8: var(--antd-marginMD);
  --plasmic-token-sys-margin-md: var(--token-afLft-2_NLz8);
  --token-O60rwptQ-q_g: var(--antd-marginLG);
  --plasmic-token-sys-margin-lg: var(--token-O60rwptQ-q_g);
  --token-K7Q4slQa_tVn: var(--antd-marginXL);
  --plasmic-token-sys-margin-xl: var(--token-K7Q4slQa_tVn);
  --token-T3WhugT8B_5N: var(--antd-marginXXL);
  --plasmic-token-sys-margin-xxl: var(--token-T3WhugT8B_5N);
  --token-iDLOxarSNhLi: var(--antd-controlPaddingHorizontal);
  --plasmic-token-sys-control-padding-horizontal: var(--token-iDLOxarSNhLi);
  --token-RVfW9__8kaYh: var(--antd-controlPaddingHorizontalSM);
  --plasmic-token-sys-control-padding-horizontal-sm: var(--token-RVfW9__8kaYh);
  --token-FqjC4EVr5HSd: var(--antd-fontSizeSM);
  --plasmic-token-sys-font-size-sm: var(--token-FqjC4EVr5HSd);
  --token-USJHKMEni_YL: var(--antd-fontSizeLG);
  --plasmic-token-sys-font-size-lg: var(--token-USJHKMEni_YL);
  --token-BYdLGnNXcLoC: var(--antd-fontSizeXL);
  --plasmic-token-sys-font-size-xl: var(--token-BYdLGnNXcLoC);
  --token-t17J4wZQAf2V: var(--antd-fontSizeHeading1);
  --plasmic-token-sys-font-size-heading-1: var(--token-t17J4wZQAf2V);
  --token-ozvu9t6UuMLS: var(--antd-fontSizeHeading2);
  --plasmic-token-sys-font-size-heading-2: var(--token-ozvu9t6UuMLS);
  --token-qtNu1VAETCv4: var(--antd-fontSizeHeading3);
  --plasmic-token-sys-font-size-heading-3: var(--token-qtNu1VAETCv4);
  --token-JUu8_K_KLmqV: var(--antd-fontSizeHeading4);
  --plasmic-token-sys-font-size-heading-4: var(--token-JUu8_K_KLmqV);
  --token-iq0psPQ8FqvX: var(--antd-fontSizeHeading5);
  --plasmic-token-sys-font-size-heading-5: var(--token-iq0psPQ8FqvX);
  --token-M4c8P_A2WQoL: var(--antd-lineHeightLG);
  --plasmic-token-sys-line-height-lg: var(--token-M4c8P_A2WQoL);
  --token-8-1QNeQVY_r3: var(--antd-lineHeightSM);
  --plasmic-token-sys-line-height-sm: var(--token-8-1QNeQVY_r3);
  --token-pE_qq5uIPP7q: var(--antd-lineHeightHeading1);
  --plasmic-token-sys-line-height-heading-1: var(--token-pE_qq5uIPP7q);
  --token-v8UY78hJoZSy: var(--antd-lineHeightHeading2);
  --plasmic-token-sys-line-height-heading-2: var(--token-v8UY78hJoZSy);
  --token-tD59OkE8DvTK: var(--antd-lineHeightHeading3);
  --plasmic-token-sys-line-height-heading-3: var(--token-tD59OkE8DvTK);
  --token-pyYP3HbsCqo9: var(--antd-lineHeightHeading4);
  --plasmic-token-sys-line-height-heading-4: var(--token-pyYP3HbsCqo9);
  --token-U93TwNohgw8e: var(--antd-lineHeightHeading5);
  --plasmic-token-sys-line-height-heading-5: var(--token-U93TwNohgw8e);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
}
